.backgroundElement{
  height:15vw;
  width:17vw;
  position:fixed;
  z-index:-1;
}

.topLeft{
    left:2%;
    top:2%;
}

.topRight{
    right:2%;
    top:2%;
}

.bottomLeft{
    left:2%;
    bottom:2%;
}

.bottomRight{
    right:2%;
    bottom:2%;
}